target/
.idea/
.vscode/
*.iml
*.log
/.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.backup
terraform/.terraform.lock.hcl
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
