spring:
  datasource:
    url: jdbc:sqlserver://${DB_HOST:localhost}:1433;databaseName=${DB_NAME:todo_db};encrypt=false
    username: ${DB_USER:sa}
    password: ${DB_PASSWORD:Ford123!}
    driver-class-name: com.microsoft.sqlserver.jdbc.SQLServerDriver

  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.SQLServerDialect
    show-sql: true

  flyway:
    enabled: false

app:
  security:
    jwt:
      secret: "change-me-please-32chars-minimum-change-me-please"
      expiration: 3600000 # 1h in ms
    user:
      username: admin
      password: admin123

management:
  endpoints:
    web:
      exposure:
        include:
          - health
          - info
          - metrics
          - env
          - httpexchanges
          - threaddump
  endpoint:
    health:
      show-details: always
